@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  --cor-principal: #155e75;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: inherit;
}

main, header > div {
  max-width: 1200px;
}

main {
  padding: 40px;
}

body {
  background: #fff;
}

.text-principal {
  color: var(--cor-principal);
}

.bg-principal {
  background-color: var(--cor-principal);
}

.border-principal {
  border-color: var(--cor-principal);
}

.border-3 {
  border-width: 3px;
}
